.content {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    
}

.body-cus {
    padding-top: 80px;
    background: rgb(238, 238, 238);
    
}

.box-title {
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid rgb(228, 222, 222);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.title {
    padding: 20px 20px;
    font-size: 25px !important;
    font-weight: 900px !important;
}

.item {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(228, 222, 222);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.col1, .col2 {
    padding-left: 15px;
}

.col2 {
    padding-right: 15px;
}

.name-detail {
    font-size: 28px;
    font-weight: 700;
    color:  #2b86c5;
    padding-top: 25px;
}

.address-detail {
    font-size: 18px;
    font-weight: 300;
}

.customer-name {
    font-size: 28px;
    font-weight: 700;
    padding-top: 20px;
    background: -webkit-linear-gradient(#eee, #333);
    background: -webkit-linear-gradient(280deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab {
    overflow: hidden;
    background-color: white;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}
  
.tab button:hover {
    background-color: #9b59b6;
    color: white;
}
  
.tab button.active {
    background-color: #8e44ad;
    color: white;
}
  
.tabcontent {
    display: none;
    border-top: none;
}

#customers {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.box_special {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    background-color: white;
    /* width: 20%; */
    /* height: 100px; */
    /* margin-top: 00px; */
    /* margin-left: 100px; */
    font-size:16px;
}

.bold_title_box {
    font-size:22px;
}

.info_cus_line {
    margin-bottom: 7px;;
}

.but_info_cus {
    background-color: rgb(17,17,17);
    padding: 7px 7px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

#tab2 {
    background-color: white;
}
