.image-intro-item {
    height: 50vh;
    width: 50%;
    display: inline-block;
}
.image-intro {
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
}

.content-detail {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.title-detail {
    font-size: 30px;
}

.location-detail {
    font-size: 15px;
    margin-top: 15px;
}

.price-detail {
    font-size:18px;
    color: #2980b9;
    margin-top: 25px;
    margin-bottom: 5px;
}

.body-detail, .agency-of-detail {
    font-size: 16px;
}

h4 {
    margin-top: 45px;
    margin-bottom: 15px;
}

.main-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.box-agency {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    background: white;
    margin-top: 80px;
    -webkit-box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
    -moz-box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
    box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
}

.box-title {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 20px;
}

.image-agency {
    margin-left: 25px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.agency-name {
    margin-top: 30px;
    font-size: 20px;
    color: #2b86c5;
    margin-bottom: 10px;
}

.button-more {
    padding: 7px 7px;
    background: #487eb0;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 20px;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(99,94,94,0.77);
    -moz-box-shadow: 2px 4px 10px 2px rgba(99,94,94,0.77);
    box-shadow: 2px 2px 10px 2px rgba(99,94,94,0.77);
    border-radius: 10px;
}

.button-contact {
    margin-left: 20px;
}

.change-background {
    background:#7f8fa6;
}

.dark-screen {
    background-color: #000000;
    opacity: 0.4;
    width: 100%;
    height: 200%;
    /* position: relative; */
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    /* z-index: 10000; */
    /* transform:0 */
}

.modal-dialog {
    height: 400px;
    width: 600px;
    background-color: #d35400;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 10px;
    box-shadow: 3px 5px 10px #353533;
    /*transition: all .5s;*/
    border: 4px solid #d35400;
    display: none;
}

.dia-p1 {
    height: 70px;
    background-color: #d35400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 50%;
}

.dia-p3 {
    height: 40px;
    background-color: #d35400;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
}

.dia-title {
    color: white;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 30px;
}

.dia-p2 {
    height: calc(100% - 110px);
    background-color: white;
    display: flex;
}

.group-label {
    width: 40%;
    padding-left: 60px;
}

.group-input {
    width: 60%;
}

.i-row {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    padding-top: 10px;
}

.input-dia {
    width: 250px;
    margin-top: 15px;
    height: 30px;
    padding: 7px 7px;
    font-size: 20px;
}

.label1 {
    margin-top: 38px;
}

.label2 {
    margin-top: 23px;
}
.label3 {
    margin-top: 23px;
}

.label4 {
    margin-top: 23px;
}

.input-hire {
    color: rgb(87, 74, 74);
    font-style: oblique;
}

.btnSave, .btnExit {
    margin-right: 10px;
    width: 150px;
    cursor: pointer;
    background-color: #eb9344;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    text-align: center;
    padding: 6px 5px;
}

.btnSave {
    margin-left: 400px;
}

.btnSave:focus, .btnExit:focus {
    border: 3px solid #000000;
    border-radius: 5px;
}

input:invalid, .request-error {
    border: 2px solid red;
}

