.image-intro-item {
    height: 50vh;
    width: 50%;
    display: inline-block;
}
.image-intro {
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
}

.content-detail {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.title-detail {
    font-size: 30px;
}

.location-detail {
    font-size: 15px;
    margin-top: 15px;
}

.price-detail {
    font-size:18px;
    color: #2980b9;
    margin-top: 25px;
    margin-bottom: 5px;
}

.body-detail, .agency-of-detail {
    font-size: 16px;
}

h4 {
    margin-top: 45px;
    margin-bottom: 15px;
}

.main-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.box-agency {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    background: white;
    margin-top: 80px;
    -webkit-box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
    -moz-box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
    box-shadow: 4px 4px 15px 3px rgba(99,94,94,0.77);
}

.box-title {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 20px;
}

.image-agency {
    margin-left: 25px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.agency-name {
    margin-top: 30px;
    font-size: 20px;
    color: #2b86c5;
    margin-bottom: 10px;
}