/* -------------------------------------------------------------------- */
/* -------------------------------HEADER------------------------------- */
/* -------------------------------------------------------------------- */

.header-home {
    /* background: url("../image/banner.jpg"); */
    background-image: linear-gradient(45deg, rgba(19, 18, 18, 0.3), rgba(209, 209, 192, 0.3)),url("https://storage.googleapis.com/theme-vessel/housy/img/banner/banner-1.jpg");
    /* background-position-y: 170px;
    margin-top: 60px; */
    height:100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: rgba(255, 255, 255,0.7); */
    background-color: rgba(36, 42, 53, 1);

   
}


/* -------------------------------------------------------------------- */
/* -------------------------------EVENTS------------------------------- */
/* -------------------------------------------------------------------- */



/* -------------------------------------------------------------------- */
/* -------------------------------RETAILS------------------------------ */
/* -------------------------------------------------------------------- */
.retails-home {
    background-color: rgb(238, 238, 238);
}

/* -------------------------------------------------------------------- */
/* -------------------------------FOOTER------------------------------- */
/* -------------------------------------------------------------------- */

.footer-home {
    background-color: rgb(238, 238, 238);
    height: 45vh;
}

.info-company {
    padding-left: 75px;
    padding-top: 30px;
}

.location, .hotline, .email {
    padding-top: 10px;
}
