/* -------------------------------------------------------------------- */
/* -------------------------------HEADER------------------------------- */
/* -------------------------------------------------------------------- */

.header-home {
    background: url("../image/banner.jpg");
    height:500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}


/* -------------------------------------------------------------------- */
/* -------------------------------EVENTS------------------------------- */
/* -------------------------------------------------------------------- */



/* -------------------------------------------------------------------- */
/* -------------------------------RETAILS------------------------------ */
/* -------------------------------------------------------------------- */
.retails-home {
    background-color: #e9e7e6;
}

/* -------------------------------------------------------------------- */
/* -------------------------------FOOTER------------------------------- */
/* -------------------------------------------------------------------- */

.footer-home {
    background-color: #dfdddb;
    height: 45vh;
}

.info-company {
    padding-left: 75px;
    padding-top: 30px;
}

.location, .hotline, .email {
    padding-top: 10px;
}
