@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.login-box{
    /* width: 280px; */
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1.5px solid #2b86c5;
    border-radius: 20px;
    padding: 15px 60px;
    transform: translate(-50%,-40%);
    color: #2b86c5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.login-box h1{
    text-align: center;
    font-size: 35px;
    border-bottom: 2px solid #2b86c5;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #2b86c5;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;   
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: #2b86c5;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
    text-align: center;
    outline:none;
    transition: all .2s;
}

.btn:hover,
.btn:active {
    background: #2b61c5;
}

a {
    color:#2b86c5;
    text-align: center;
    display: block;
    font-size: 15px;
}

a:hover, a:active {
    color: #2b61c5;
}